/* set button hover background color to type */

#grass:hover {
  background-color: var(--grass-color);
  color: white;
}
#fire:hover {
  background-color: var(--fire-color);
  color: white;
}
#water:hover {
  background-color: var(--water-color);
  color: white;
}
#electric:hover {
  background-color: var(--electric-color);
  color: white;
}
#ice:hover {
  background-color: var(--ice-color);
  color: white;
}
#fighting:hover {
  background-color: var(--fighting-color);
  color: white;
}
#poison:hover {
  background-color: var(--poison-color);
  color: white;
}
#ground:hover {
  background-color: var(--ground-color);
  color: white;
}
#flying:hover {
  background-color: var(--flying-color);
  color: white;
}
#psychic:hover {
  background-color: var(--psychic-color);
  color: white;
}
#bug:hover {
  background-color: var(--bug-color);
  color: white;
}
#rock:hover {
  background-color: var(--rock-color);
  color: white;
}
#ghost:hover {
  background-color: var(--ghost-color);
  color: white;
}
#dragon:hover {
  background-color: var(--dragon-color);
  color: white;
}
#dark:hover {
  background-color: var(--dark-color);
  color: white;
}
#steel:hover {
  background-color: var(--steel-color);
  color: white;
}
#fairy:hover {
  background-color: var(--fairy-color);
  color: white;
}
#normal:hover {
  background-color: var(--normal-color);
  color: white;
}

.grass {
  color: var(--grass-color);
}
.fire {
  color: var(--fire-color);
}
.water {
  color: var(--water-color);
}
.electric {
  color: var(--electric-color);
}
.ice {
  color: var(--ice-color);
}
.fighting {
  color: var(--fighting-color);
}
.poison {
  color: var(--poison-color);
}
.ground {
  color: var(--ground-color);
}
.flying {
  color: var(--flying-color);
}
.psychic {
  color: var(--psychic-color);
}
.bug {
  color: var(--bug-color);
}
.rock {
  color: var(--rock-color);
}
.ghost {
  color: var(--ghost-color);
}
.dragon {
  color: var(--dragon-color);
}
.dark {
  color: var(--dark-color);
}
.steel {
  color: var(--steel-color);
}
.fairy {
  color: var(--fairy-color);
}
.normal {
  color: var(--normal-color);
}

button {
  font-family: gameboy;
  text-align: center;
  margin: 5px;
  padding: 10px;
  font-size: 8px;
  width: 76px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 838px) {
  button {
    font-family: gameboy;
    text-align: center;
    margin: 4px;
    padding: 5px;
    font-size: 4.5px;
    width: 45px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
