#app {
  text-align: center;
}

/* #gameplay-and-scores {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 5fr 1fr 1fr 1fr;
}

#pkmnimgs-gametext {
  grid-template-rows: 1 / 2;
}

#scores-and-shinies {
  grid-template-rows: 2 / 3;
} */
