@font-face {
  font-family: "pokemon-hollow";
  src: url("./fonts/pokemon-hollow.ttf") format("truetype");
}

@font-face {
  font-family: "gameboy";
  src: url("./fonts/gameboy.ttf") format("truetype");
}

/* define type colors */
:root {
  --grass-color: #78c850;
  --fire-color: #f08030;
  --water-color: #0645ad;
  --electric-color: #f8d030;
  --ice-color: #98d8d8;
  --fighting-color: #c03028;
  --poison-color: #a040a0;
  --ground-color: #e0c068;
  --flying-color: #a890f0;
  --psychic-color: #f85888;
  --bug-color: #a8b820;
  --rock-color: #b8a038;
  --ghost-color: #705898;
  --dragon-color: #7038f8;
  --dark-color: #705848;
  --steel-color: #b8b8d0;
  --fairy-color: #ee99ac;
  --normal-color: #a8a878;
  --pkmn-blue: #3c5aa6;
  --pkmn-red: #e4000f;
  font-family: gameboy;
}

body {
  background-color: #f8f8f8;
  margin: 0;
  overflow: hidden;
}

#app-border {
  display: grid;
  grid-template: 1fr / 0.4fr 2.2fr 0.4fr;
  background-image: url("./images/background-cropped.jpeg");
  background-repeat: repeat-x;
  background-size: auto 100%;
}

#app {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
  display: grid;
  
  grid-template: 1fr 0.6fr 0.4fr / 1fr 1fr;
  align-items: center;
  background-color: #f8f8f8;
  top: 0;
  height: 100%;
  margin-top: -8px;
}

#heading {
  font-family: pokemon-hollow;
  color: var(--pkmn-blue);
  font-size: 28px;
}

#gameplay-and-scores {
  grid-area: 2 / 1 / 4 / 3;
}

#top-row {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  flex-direction: row;
  justify-items: space-around;
  align-items: center;
}

#top-right {
  margin-top: 80px;
}

#top-left {
  margin-left: 5px;
  padding-left: 10px;
}

@media (max-width: 838px) {
  body {
    background-image: none;
    overscroll-behavior: none;
    background-color: #f8f8f8;
  }

  #app {
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    background-image: url("./images/background-cropped2.jpeg");
    background-repeat: repeat-x;
    background-size: auto 100%;
    height: 100%;
    justify-content: center;
  }

  #app-border {
    background-color: #f8f8f8;
  }

  #heading {
    font-size: 22px;
  }

  #top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  #top-right {
    margin-top: 10px;
  }
}


@media (min-width: 1290px) {
 #app-border{
  grid-template: 1fr / 1fr 2.2fr 1fr;
 }
}