#pkmnimgs-gametext {
  height: 230px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-area: 2 / 1 / 3 / 3;
  grid-template: 1fr / 2fr 1fr 7fr 1fr 2fr;
  grid-column-gap: 7px;
}

#PkmnImg--player {
  grid-area: 1 / 2 / 2 / 3;
}

#PkmnImg--rival {
  grid-area: 1 / 4 / 2 / 5;
}

@media (max-width: 838px) {
  #pkmnimgs-gametext {
    height: 210px;
    display: grid;
    grid-template: 1fr / 1fr 3fr 1fr;
    gap: 0px;
    margin-top: 10px;
  }

  #PkmnImg--player {
    grid-area: 1 / 1 / 2 / 2;
  }

  #PkmnImg--rival {
    grid-area: 1 / 3 / 2 / 4;
  }
}
